.footer {
  margin-top: 31px;
  padding: 27px 100px 50px 100px;
  &-hr {
    margin-top: 87px;
  }

  &_grid {
    display: grid;
    grid-template-columns: 250px repeat(3, minmax(100px, 200px)) 300px;
    gap: 80px;

    .grid-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;

      &-text {
        color: var(--gray-3);

        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      &-heading {
        color: var(--black);
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
      }

      &-subflex {
        display: flex;
        gap: 8px;
        align-items: center;
      }

      .email_form {
        width: 300px;
        height: 45px;
        display: flex;
        gap: 4px;
        align-items: center;

        input[type='email'] {
          padding: 10px 12px;
          width: 242px;
          height: 100%;
          border: none;
          border-radius: none;

          background: #f4f5f7;
        }
        button[type='submit'] {
          width: 45px;
          height: 100%;
          padding: 10px;
          background: var(--primary);
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .footer {
    &_grid {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    .grid-item {
      .email_form {
        width: 100%;

        input[type='email'] {
          width: 150px;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .footer {
    padding: 27px 50px 50px 50px;
    &_grid {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    }
    .grid-item {
      align-items: center;

      .email_form {
        width: 100%;
      }
    }
  }
}
