@import 'products-grid';
@import 'products-grid-item';
.products {
  margin-top: 107px;

  &-heading {
    color: var(--gray-1);
    text-align: center;

    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
  }

  .button-show-more {
    display: block;
    margin: 32px auto 0 auto;
    width: 245px;
    height: 48px;
    border: 1px solid var(--color-primary, #e89f71);
    background: var(--color-white, #fff);

    a {
      color: var(--primary);

      font-size: 16px;
      font-weight: 600;
      line-height: 150%;

      text-decoration: none;
    }
  }
}
