.products {
  &_grid {
    width: 100%;
    margin-top: 32px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 285px);
    grid-template-rows: repeat(2, 446px);
    grid-auto-rows: 446px;
    gap: 32px;
  }
}
